html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75vw;
    max-font-size: 3px;
    height: 300vh;
    overflow-x: hidden;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(to left, #e2e2e2, white, #e2e2e2);
}

.mid {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100vw;
    z-index: -5;
    background-image: linear-gradient(to left, #e2e2e2, white, #e2e2e2);
}

/*::-webkit-scrollbar {
    display: none;
}*/

body {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    min-height: fit-content;
    margin: 0;
    z-index: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: linear-gradient(to left, #e2e2e2, white, #e2e2e2);
}

.scroll {
    position: fixed;
    right: 10px;
    width: 0.4vw;
    height: 100vh;
    z-index: 19;
    color: #404040;
    background-color: #404040;
    border-radius: 25px;
    border: #404040 3px;
}

.topback {
    width: 100vw;
    height: 15%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.51));
    background-repeat: no-repeat;
    background-size: 100% 15vh;
    animation: fadeIn 3s;
    z-index: 20;
}

.top {
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    height: 10vh;
    max-height: 10vh;
    background-image: linear-gradient(to left, #e2e2e2, white, #e2e2e2);
    animation: down 3s;
    z-index: 1000;
}

@keyframes down {
    0% {top: -20px;}
    100% { top: 0;}
}

@keyframes slideDown {
    0% {transform: translateY(-100px);}
    100% { transform: translateY(0);}
}

.b {
    margin: auto;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: transparent;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 100%}
}

@keyframes fadeOut {
    0% {opacity: 100%}
    100% {opacity: 0}
}

.b h1 {
    margin-top: 8%;
    border-left: black 1px solid;
    border-right: black 1px solid;
    -webkit-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    animation: fadeIn 3s;
}

.b:hover {
    animation: topfade 1s;
    cursor: pointer;
    background-color: rgb(193, 193, 193);
}

@keyframes topfade {
    0% { background-color: transparent }
    100% { background-color: rgb(193, 193, 193);
        height: fit-content;
    }
}



.slideDown {
    -webkit-animation: slidefadedown 2.5s;
    -o-animation: slidefadedown 2.5s;
    animation: slidefadedown 2.5s;
}

@keyframes slidefadedown {
    0% {
        transform: translateY(-5vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }

}

.slides {
    z-index: 0;
    position: relative;
    margin-top: 10vh;
    left: 0;
    top:0;
    margin-left: 0;
    right: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    background-color: forestgreen;
    width: 100vw;
    height: fit-content;
    -webkit-animation: slidefadedown 3s;
    -o-animation: slidefadedown 3s;
    animation: slidefadedown 3s;
}

.slides img {
    height: 40vw;
    width: auto;
    max-width: 80vw;
    margin: auto;
    clip: auto;
}

.slideinleft {
    animation: slideinleft 1s;
}

@keyframes slideinleft {
    0% {opacity: 0;
        transform: translateX(25%);
    }
    100% {opacity: 1;
        transform: translateX(0);
    }
}

.slideoutleft {
    animation: slideoutleft 1s;
    opacity: 0;
}

@keyframes slideoutleft {
    0% {opacity: 1;
        transform: translateX(0);
    }
    100% {opacity: 0;
        transform: translateX(-25%);
    }
}

.slideinright {
    animation: slideinright 1s;
}

@keyframes slideinright {
    0% {opacity: 0;
        transform: translateX(-25%);
    }
    100% {opacity: 1;
        transform: translateX(0);
    }
}

.slideoutright {
    animation: slideoutright 1s;
    opacity: 0;
}

@keyframes slideoutright {
    0% {opacity: 1;
        transform: translateX(0);
    }
    100% {opacity: 0;
        transform: translateX(25%);
    }
}

.fas {
    width: 100%;
}

.fas:hover .l:hover .r:hover{
    cursor: pointer;
}

.hov {
    color: aliceblue;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    opacity: 50%;
    z-index: 20;
}

.hov:hover {
    cursor: pointer;
}

.l {
    margin-right: 5%;
    margin-left: 5%;
}

.r {
    margin-left: 5%;
    margin-right: 5%;
}

.goal {
    display: block;
    font-weight: bold;
    margin: 2% auto 2% auto;
    padding-left: 10%;
    padding-right: 10%;
    height: fit-content;
    text-align: center;
    font-size: 1vw;
    background-color: transparent;
    width: 60%;
    vertical-align: middle;
}

.off {
    display: none;
}

.down {
    -webkit-animation: down 3s;
    -o-animation: down 3s;
    animation: down 3s;
}

.tabFadeIn {
    -webkit-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.fadeIn {
    -webkit-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
}

.fadeOut {
    -webkit-animation: fadeOut 0.5s;
    -o-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

.support {
    font-size: 1.25vw;
    margin: 0;
    padding: 2% 15% 2% 15%;
    width: 70%;
    text-align: center;
    background-color: forestgreen;
    color: white;
}

.shirt {
    width: 100%;
    align-content: center;
    display: flex;
}

.shirt img {
    width: 30%;
}

.txt {
    text-align: left;
    width: max-content;
    margin: auto auto auto 5%;
}

.donate {
    margin: auto;
    width: 35%;
}

.or {
    margin: auto;
    width: 10%;
}


.about {
    height: fit-content;
    width: 80%;
    margin: auto;
    display: flex;
    padding: 0 10% 3% 10%;
}

.info {
    align-content: center;
    text-align: center;
    background-color: forestgreen;
    margin: auto;
    width: 23%;
    color: white;
    padding: 3%;
}

.info p {
    font-size: 140%;
}

.info img {
    width: 100%;
}

.a {
    transform: translateY(7%);
}

.c {
    transform: translateY(14%);
}

.aboutus {
    margin: 3% auto auto auto;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.cont {
    display: flex;
    width: 80%;
    padding: 5% 10% 0 10%;
    margin: 0 auto 0 auto;
    height: min-content;
    vertical-align: top;
}

.cont img {
    height: 20vh;
    margin: 0 auto auto auto;
    width: auto;
}

.link {
    display: block;
    margin: 0 auto auto auto;
    width: min-content;
    height: 100%;
}

.link p {
    font-size: 120%;
    width: 100%;
}

/*
.about {
    height: fit-content;
    width: 100%;
    margin: auto;
    display: block;
}

.info {
    display: flex;
    align-content: center;
    text-align: center;
    background-color: forestgreen;
    width: 100%;
    color: white;
    padding: 5%;
    margin: 2% 0 5% 0;
}

.info img {
    width: 20%;
}

.a {
    text-align: right;
    align-content: end;
}

.c {
    text-align: left;
}

.aboutus {
    margin: 3% auto auto auto;
    font-size: 50px;
    text-align: center;
    width: 100%;
}
*/

.sponsors {
    width: 100%;
    margin: 5% auto auto auto;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, white, transparent);
    min-height: fit-content;
}

.footer {
    z-index: 1000;
    display: block;
    color: white;
    width: 100vw;
    height: 5vh;
    background-color: forestgreen;
    margin: 5% 0 0 0;
    text-align: center;
    padding: 1vh 0 5vh 0;
    font-size: 150%;
}